.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: 500px;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  width: 100%;
  height: 90vh;
}

.image-gallery-thumbnail img {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.button-close {
  background: inherit !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 60px;
  cursor: pointer;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}
