.grid {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr) !important;
  gap: 20px !important;
  padding: 16px !important;
}

.list-title {
  font-weight: 700;
  align-items: center;
  text-align: left !important;
}
